<div class="post">
  <div class="header">
    <h1>Post Title</h1>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>
  <div class="info">
    <strong>Имя автора</strong>
    <small>21.06.2022</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi id veniam asperiores temporibus. Nemo, ea? Sit, ab distinctio maiores rerum commodi sed aliquam maxime consequuntur eveniet modi delectus natus dolor facilis itaque exercitationem. Asperiores doloribus laudantium repudiandae voluptatum? Non impedit minima cupiditate sint aliquam amet praesentium numquam quisquam commodi illo.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi id veniam asperiores temporibus. Nemo, ea? Sit, ab distinctio maiores rerum commodi sed aliquam maxime consequuntur eveniet modi delectus natus dolor facilis itaque exercitationem. Asperiores doloribus laudantium repudiandae voluptatum? Non impedit minima cupiditate sint aliquam amet praesentium numquam quisquam commodi illo.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi id veniam asperiores temporibus. Nemo, ea? Sit, ab distinctio maiores rerum commodi sed aliquam maxime consequuntur eveniet modi delectus natus dolor facilis itaque exercitationem. Asperiores doloribus laudantium repudiandae voluptatum? Non impedit minima cupiditate sint aliquam amet praesentium numquam quisquam commodi illo.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi id veniam asperiores temporibus. Nemo, ea? Sit, ab distinctio maiores rerum commodi sed aliquam maxime consequuntur eveniet modi delectus natus dolor facilis itaque exercitationem. Asperiores doloribus laudantium repudiandae voluptatum? Non impedit minima cupiditate sint aliquam amet praesentium numquam quisquam commodi illo.</p>
  </div>
</div>
